body {
    background-color: blanchedalmond;
}

.title {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 3.5rem;
    letter-spacing: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}

.surprise-btn {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1.5rem;
    width: 11vw;
    line-height: 20px;
    outline: none;
    padding: 12px 18px;
    transition: color 100ms;
    vertical-align: baseline;
    touch-action: manipulation;
    font-family: 'Times New Roman', Times, serif;
}

.surprise-btn:hover {
    background-color: #F082AC;
}

.surprise-btn:active {
    /* Scaling button to 0.98 to its original size */
    transform: scale(0.98);
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.24);
}

.poke-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.poke-name {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 7px;
}

.pokemon img {
    height: auto;
    width: 15vw;
    margin-top: -15px;
}

.bubble {
    /* height: 12rem; */
    width: 40%;
    min-width: 200px;
    background: ivory;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
}

.pointer {
    height: 40px;
    width: 40px;
    background: ivory;
    margin: 0 auto;
    transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    margin-top: -22px;
    position: relative;
    left: calc(0.5vw - 50px);
}