body {
    background-color: blanchedalmond;
}

.surprise-btn {
    border: green;
    background-color: palegreen;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin: auto;
    display: block;
}

.surprise-btn:hover {
    background-color: green;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

